#pay-proceed-modal {
    .modal-dialog-centered {
      display: flex;
      align-items: center;
      min-height: calc(100% - 2rem); /* Adjust this value to leave some space at the top */
    }
    
    /* Ensure the modal content is centered */
    .modal-content {
      margin: auto;
      background-color: rgba(255, 255, 255, 0);
      // opacity: 0;
      border: none;
    }
  
  }